// FONTS
$font_type_first: Helvetica, Arial, sans-serif;
$font_type_second: 'Spectral', Georgia;
$font_default: 16px;

// SIZES
$max_width: 50rem;
$header_height: 4rem; // padroniza a altura do header e padding-top do body

// Z-INDEX
$z_index_header: 100;

// COLORS
$black_333: #333;
$white: #fff;
