@import "./../../static/styles/_Variables";

.error {
  font-size: $font_error;
  margin-top: 0.5rem;

  &[class$="danger"] {
    color: $red;
  }

  &[class$="warning"] {
    color: $yellow_dark;
  }

  &[class$="success"] {
    color: $green;
  }

  &[class$="info"] {
    color: $blue;
  }

  &[class$="default"] {
    color: $gray;
  }
}
